{% extends 'base_form.html' %}
{% block title %}
    Detalle de la Pelicula
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="h2">{{ object.titulo }}</h1>
        <p>Año:{{ object.year }}</p>
        <p>Actores:{{ object.actores }}</p>
        <p>Duracion:{{ object.duracion }}</p>
        <p>Genero:{{ object.genero }}</p>
        <p>Sipnosis:{{ object.sipnosis }}</p>
        <a class="btn btn-primary btn-dark" href="/peliculas/">Regresar</a>
        <a class="btn btn-secondary btn-dark" href="/peliculas/{{object.id}}/update/">Actualizar</a>
    </div>
{% endblock %}


